h1 {
  color: red;
  font-weight: bold;
  font-family: fantasy;
}

body {
  margin-left: 20px;
  padding-left: 10px;
  font-family: sans-serif;
}

img {

  float: left;
  padding: 10px;
  margin: 5px;
  background-color: #9BD840;
}

.container {

width: 100%;

}

.link{

width: 100%;
margin: 3px;
padding: 8px;

}
.about {

  margin: 10px;
  padding: 3px;
  font-style: normal;
  font-family: cursive;
  color: green;


}

.best {
  color: maroon;
  font-size: 12;
  font-style: normal;
}

.column1 {
  width: 500px;
  float: left;

}

.row1 {

  margin: 10px;
  border: 3px solid green;
  padding: 3px;
  background-color: lightgreen;
  float: left;
}

.Interest {

  color: violet;
  padding: 5px;
}

.int-head {

  color: grey;
  font-style: oblique;
  float: left;
}

.skills {

color: violet;
padding: 5px;
}


.skill-head {

  color: grey;
}



.quote {


  color: #0C5A30;
}
