body {
  margin-left: 20px;
  padding-left: 10px;
  background-color: #A0F7B4;
  font-family: fantasy;
}

.body-content {
  font-family: sans-serif;
}

.About {
  font-style: normal;
  font-family: cursive;
  color: green;


}

.best {
  color: maroon;
  font-size: 12;
  font-style: normal;
}

.Interest {

  color: violet;
}

.int-head {

  color: grey;
  font-style: oblique;
  float: left;
}

.skills {

color: violet;}


.skill-head {

  color: grey;
}

.quote-box {
  text-align: center;
  padding-top: 20px;
  margin: 20px;
}

.quote {
  margin-top: 10px;
  color: #0C5A30;
}
