h1 {
  color: red;
  font-weight: bold;
  font-family: fantasy;
}

body {
  margin-left: 20px;
  padding-left: 10px;
  background-color: #A0F7B4;
  font-family: sans-serif;
}

img {

  float: left;
  padding: 10px;
  margin: 5px;
  background-color: #9BD840;


}
.body-content {
  font-family: sans-serif;
}

.link-box {

width: 450px;
border: 8px solid green;
margin: 3px;
background-color: white;
padding: 8px;

}
.about {
  width: 400px;
  padding: 3px;
  font-style: normal;
  font-family: cursive;
  color: green;


}

.best {
  color: maroon;
  font-size: 12;
  font-style: normal;
}

.column {
  width: 420px;
  float: left;

}

.row {

  margin: 10px;
  border: 3px solid green;
  padding: 3px;
  background-color: lightgreen;
  float: left;
}

.Interest {

  color: violet;
  padding: 5px;
}

.int-head {

  color: grey;
  font-style: oblique;
  float: left;
}

.skills {

color: violet;
padding: 5px;
}


.skill-head {

  color: grey;
}

.quote-box {
  text-align: center;
  padding-top: 20px;
  margin: 20px;
}

.quote {
  margin-top: 10px;
  color: #0C5A30;
}
